{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'home/css/style.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <div class="home_jumbotron align-middle">
                <h1 id="welcome_qoute" class="text-center">Welcome to Ella Moya. Please check out some of my designs
                    </h2>
                    <a id="shop_now_btn" class="btn btn-primary btn-lg" href="{% url 'home' %}">SHOP NOW</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}