body {
    background: url('../images/home.png') no-repeat center center fixed;
    background-size: cover;
}

#welcome_qoute {
    color: white;
    text-shadow: 2px 2px #000000;
}

#shop_now_btn {
    color: white;
    border-color: #ffffff00;
    font-size: 40px;
    border-radius: 20px;
    float: right;
    background-image: linear-gradient(#f993be, #fb70ab) !important;
}

#shop_now_btn:hover {
    color: white;
    background-image: linear-gradient(#ffd9e9, #cbc9ca) !important;
}

.container {
    height: 530px;
    margin-bottom: 100px;
}

.home_jumbotron {
    margin-top: 310px;
}