{% extends "base.html" %}
{% load static %}
{% load crispy_forms_filters %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'products/products.css' %}">
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12 col-lg-6">
        <form class="mt-3" action="{% url 'profile' %}" method="POST" id="profile-update-form">
            {% csrf_token %}
            {{ form|crispy }}
            <button class="btn btn-black rounded-0 text-uppercase float-right">Update Information</button>
        </form>
    </div>
</div>
{% endblock %}