h1 {
    margin-top: 150px;
}

.aboutme {
    font-size: 1.7rem;
}

.aboutme_details {
    font-size: 1.2rem !important;
}

.aboutme_details a {
    text-decoration: none !important;
    font-size: 1.2rem !important;
    color: #000000 !important;
}

a:hover {
    text-decoration: underline !important;
    color: #f993be !important;
}

@media only screen and (max-width: 800px) {
    .aboutme {
        font-size: 1.2rem;
    }
}

@media only screen and (max-width: 1000px) {
    .aboutme_details {
        font-size: 0.9rem !important;
    }
    .aboutme_details a{
        font-size: 0.9rem !important;
    }
}