.container {
    min-height: 700px;
    margin-bottom: 100px;
}

form {
    margin: 40px;
}

#id_comment{
    padding: 8px;
    border-radius: 8px;
}

@media only screen and (max-width: 500px) {
    .container {
        min-height: 0px;
        margin-bottom: 0px;
    }
    form {
        margin: 8px;
    }
    #id_comment{
        width: 100%;
        height: 100px;
    }
}