
.button_colors{
    background-color: #f993be !important;
    color: white;
    border-color: #0600008f !important;
}

body{
    font-family: 'Courgette', cursive;
}

/* Nav Bar */

.navbar{
    background-color: #f993be !important;
    border-bottom: 2px solid #fff !important;
}

.nav-link{
    color: white !important;
    border-radius: 20px !important;
}

.nav-item:hover{
    border: 2px solid #ffffff69;
}

#logo{
    width: 200px;
}
.nav_buttons{
    font-size: 2rem;
}

header{
    margin-bottom: 50px;
}

.flex-wrapper {
    display: flex;
    min-height: 90vh;
    flex-direction: column;
    justify-content: space-between
}

/* Footer */

footer {
    background-color: #f993be !important;
    width: 100%;
    height: 200px;
    margin-top: 90px;
}

.mylogo{
    font-size: 3rem;
}