/* General site theme color: #f993be */

/* Font and classes for button colors */

.button_colors {
    background-image: linear-gradient(#f993be, #fb70ab);
    color: white;
}

body {
    font-family: 'Courgette', cursive;
}

.roboto {
    font-family: 'roboto' !important;
}

/* Nav Bar */

.navbar {
    background-image: linear-gradient(#f993be, #fb70ab);
    border-bottom: 2px solid #fff !important;
    z-index: 2;
}

.nav-link {
    color: white !important;
}

.nav-item:hover {
    background-color: #ffa8cd;
}

.navbar-nav .list-inline-item{
    min-width: 110px;
}

#logo {
    width: 120px;
}

.nav_buttons {
    font-size: 2rem;
}

header {
    margin-bottom: 50px;
}

.flex-wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between
}

/* Footer */

footer {
    background-color: #f993be !important;
    width: 100%;
    min-height: 200px;
    margin-top: 90px;
    border-top: 1px solid white;
}

footer h3 {
    margin-top: 50px;
    cursor: default;
}

footer a {
    text-decoration: none !important;
    color: white;
}

.email-text{
    margin-left: 5px;
}

.mylogo {
    font-size: 3rem;
}

.grow{
    animation: grow 1s;
}

/* Media queries */

@media only screen and (max-width: 500px) {
    #logo {
        width: 68px;
    }
    .navbar-nav .list-inline-item {
        min-width: 0px;
    }
    .navbar-toggler{
        font-size: 1rem;
    }
    .navbar-toggler:focus{
        box-shadow: 0 0 0 0.1rem;
    }
    footer {
        font-size: 0.8rem;
        min-height: 0px;
        margin-top: 0px;
    }
    footer h3 {
        margin: 6px;
    }
    .flex-wrapper{
        min-height: 70vh;
    }
}

@media only screen and (max-width: 700px) {
    .nav_buttons {
        font-size: 1.4rem;
    }
}

/* Animations */

@keyframes grow {
    0% { transform: scale(.2); }
    100% { transform: scale(1); }
}