.zindex2{
    z-index: 2;
}

/*Flower animation credit goes to:
    https://github.com/VikasGutte/Flower-Rain-Animation
    with some minor changes from myself.
*/
.canvas {
    display: inline;
}

.big_flower {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    z-index: 1;
    position: absolute;
    top: -20%;
}

.big_petal {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    z-index: -1;
}

.small_flower {
    width: 13px;
    height: 13px;
    border-radius: 50%;
    z-index: 1;
    position: absolute;
    top: -20%;
}

.small_petal {
    width: 13px;
    height: 13px;
    border-radius: 50%;
    z-index: -1;
}

.petal1 {
    position: relative;
    left: -70%;
    top: 20%;
}

.petal2 {
    position: relative;
    top: -18%;
    left: -5%;
}

.petal3 {
    position: relative;
    top: -170%;
    left: 72%;
}

.petal4 {
    position: relative;
    top: -363%;
    left: -30%;
}

.petal5 {
    position: relative;
    top: -450%;
    left: 53%;
}

#flower1 {
    background-color: yellow;
    position: absolute;
    left: 8%;
    animation-name: rain;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.f1p {
    background-color: pink;
}

#flower2 {
    background-color: pink;
    position: absolute;
    left: 25%;
    animation-name: rain;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-delay: 1.5s;
}

.f2p {
    background-color: greenyellow;
}

#flower3 {
    background-color: skyblue;
    position: absolute;
    left: 42%;
    animation-name: rain;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-delay: 0s;
}

.f3p {
    background-color: pink;
}

#flower4 {
    background-color: lawngreen;
    position: absolute;
    left: 59%;
    animation-name: rain;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-delay: 2.5s;
}

.f4p {
    background-color: yellow;
}

#flower5 {
    background-color: yellow;
    position: absolute;
    left: 75%;
    animation-name: rain;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
    animation-delay: 3s;
}

.f5p {
    background-color: skyblue;
}

#flower6 {
    background-color: lawngreen;
    position: absolute;
    left: 90%;
    animation-name: rain;
    animation-duration: 3.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-delay: 4.5s;
}

.f6p {
    background-color: pink;
}

@keyframes rain {
    0% {
        transform: rotate(0deg);
        top: -10%;
    }

    100% {
        transform: rotate(720deg);
        top: 100%;
    }
}

.catagory_style {
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    transition: all 0.4s ease 0s;
    border: 2px solid black;
}

.catagory_style:hover {
    background: #ffa8cd;;
    letter-spacing: 1px;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;
}

.selected_catagory_style {
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #ffa8cd;
    padding: 8px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
}

.selected_catagory_style:hover {
    background: #000000a1;
    letter-spacing: 1px;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;
}

.card {
    margin: 1rem !important;
    min-height: 380px !important;
    z-index: 2;
}

a {
    text-decoration: none !important;
}

.products_page_image {
    width: 100%;
}

.increment-qty {
    color: #f993be !important;
}

.decrement-qty {
    color: #f993be !important;
}

.products_details{
    font-size: 1.4rem;
    padding: 20px;
}

.category-badge {
    font-size: 1.9rem;
}

.quantity-group {
    min-width: 115px;
}

/* Reviews */

#id_review{
    width: 80%;
    height: 150px;
}

#review_form{
    width: 100%;
}

.reviews_collapible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}
  
.content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-in-out;
    background-color: #f1f1f1;
}

/* Media Queries */

@media only screen and (max-width: 500px) {
    .products_details {
        padding: 14px;
        font-size: 1rem;
    }

    #product_title{
        font-size: 1rem;
    }
}

@media only screen and (max-width: 700px) {
    .category-badge {
        font-size: 1.2rem;
    }
}