.catagory_style {
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #000000;
    padding: 8px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
}

.catagory_style:hover {
    background: #edd63038;
    letter-spacing: 1px;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;
}

.selected_catagory_style {
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #edd63038;
    padding: 8px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
}

.selected_catagory_style:hover {
    background: #000000;
    letter-spacing: 1px;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;
}

.card {
    margin: 1rem !important;
    min-height: 440px !important;
}

a {
    text-decoration: none !important;
}

.products_page_image {
    width: 100%;
    padding: 20px;
}

.increment-qty {
    color: #f993be !important;
}

.decrement-qty {
    color: #f993be !important;
}

.products_details {
    padding: 20px;
}

.products_details p {
    font-size: 1.4rem;
}

.category-badge {
    font-size: 2rem;
}

.quantity-group {
    min-width: 115px;
}

/* Reviews */

#id_review{
    width: 80%;
    height: 150px;
}

#review_form{
    width: 100%;
}

/* Media Queries */

@media only screen and (max-width: 700px) {
    .category-badge {
        font-size: 1.2rem;
    }
}