.card{
    margin: 1rem !important;
}

a{
    text-decoration: none !important;
}

.products_page_image{
    width: 100%;
    padding: 20px;
}

#add_to_cart{
    background-color: #f993be !important;
    color: white;
    border-color: #0600008f;
}

.products_details{
    padding: 20px;
}

.products_details p{
    font-size: 1.4rem;
}