{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'products/css/products.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <h1 class="text-center">Product Management</h1>
        <div class="col-6">
            <a href="{% url 'create_product' %}" class="btn btn-outline-black button_colors rounded-0 btn-lg w-50">
                <span>Create Product</span>
            </a>
        </div>

        <div class="col-6">
            <a href="#" class="btn btn-outline-black button_colors rounded-0 btn-lg w-50">
                <span>Create Category</span>
            </a>
        </div>
    </div>
</div>

{% endblock %}