{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'products/css/products.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col text-center mt-3">
            {% if current_category %}
            <h4 class="mb-4">{{current_category}}</h4>
            {% endif %}
            <a class="category-badge text-decoration-none" href="{% url 'products' %}">
                <span class="p-2 mt-2 button_colors rounded-0 border">All</span>
            </a>
            {% for c in categories %}
            <a class="category-badge text-decoration-none" href="{% url 'products' %}?category={{ c.name }}">
                <span class="p-2 mt-2 button_colors rounded-0 border">{{ c.friendly_name }}</span>
            </a>
            {% endfor %}
            <hr class="mb-1">
        </div>
    </div>

    <div class="row">
        {% for product in products %}
        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
            <div class="card">
                <a href="{% url 'view_product' product.id %}">
                    {% if product.image %}
                    <img class="card-img-top" src="{{ MEDIA_URL }}{{product.image}}" alt="Card image cap">
                    {% else %}
                    <img class="card-img-top" src="{% static 'images/placeholder.jpg'%}" alt="Card image cap">
                    {% endif %}
                    <div class="card-body text-dark">
                        <h5 class="card-title">{{product.name}}</h5>
                        <p class="card-text">{{product.category.friendly_name}}</p>
                        <p>€{{product.price}}</p>
                    </div>
                </a>
            </div>
        </div>


        {% if forloop.counter|divisibleby:1 %}
        <div class="col-12 d-sm-none mb-5">
            <hr>
        </div>
        {% endif %}
        {% if forloop.counter|divisibleby:2 %}
        <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-5">
            <hr>
        </div>
        {% endif %}
        {% if forloop.counter|divisibleby:3 %}
        <div class="col-12 d-none d-lg-block d-xl-none mb-5">
            <hr>
        </div>
        {% endif %}
        {% if forloop.counter|divisibleby:4 %}
        <div class="col-12 d-none d-xl-block mb-5">
            <hr>
        </div>
        {% endif %}
        {% endfor%}
    </div>
</div>

{% endblock %}