{% extends "base.html" %}
{% load static %}


{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'products/css/products.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <!-- Creates a tab for each category so the user can click one to show only that category -->
        <div class="col text-center mt-3">
            <a class="category-badge text-decoration-none {% if current_category == None %} catagory_style{% else %} selected_catagory_style{% endif %}" href="{% url 'products' %}">
                <span class="p-2 mt-2 button_colors rounded border">All</span>
            </a>
            {% for c in categories %}
            <a class="category-badge text-decoration-none{% if current_category == c.name %} catagory_style{% else %} selected_catagory_style{% endif %}" href="{% url 'products' %}?category={{ c.name }}">
                <span class="p-2 mt-2 button_colors rounded border">{{ c.friendly_name }}</span>
            </a>
            {% endfor %}
            <hr class="mb-1">
        </div>
    </div>

    <div class="row">
        <!-- Creates the product cards -->
        <div class="canvas">

     <div class="big_flower" id="flower1">
        <div class="big_petal petal1 f1p"></div>
        <div class="big_petal petal2 f1p"></div>
        <div class="big_petal petal3 f1p"></div>
        <div class="big_petal petal4 f1p"></div>
        <div class="big_petal petal5 f1p"></div>
     </div>

     <div class="small_flower" id="flower2">
        <div class="small_petal petal1 f2p"></div>
        <div class="small_petal petal2 f2p"></div>
        <div class="small_petal petal3 f2p"></div>
        <div class="small_petal petal4 f2p"></div>
        <div class="small_petal petal5 f2p"></div>
     </div>
     
     <div class="small_flower" id="flower3">
        <div class="small_petal petal1 f3p"></div>
        <div class="small_petal petal2 f3p"></div>
        <div class="small_petal petal3 f3p"></div>
        <div class="small_petal petal4 f3p"></div>
        <div class="small_petal petal5 f3p"></div>
     </div>

     <div class="small_flower" id="flower4">
        <div class="small_petal petal1 f4p"></div>
        <div class="small_petal petal2 f4p"></div>
        <div class="small_petal petal3 f4p"></div>
        <div class="small_petal petal4 f4p"></div>
        <div class="small_petal petal5 f4p"></div>
     </div>

     <div class="big_flower" id="flower5">
        <div class="big_petal petal1 f5p"></div>
        <div class="big_petal petal2 f5p"></div>
        <div class="big_petal petal3 f5p"></div>
        <div class="big_petal petal4 f5p"></div>
        <div class="big_petal petal5 f5p"></div>
     </div>

     <div class="big_flower" id="flower6">
        <div class="big_petal petal1 f6p"></div>
        <div class="big_petal petal2 f6p"></div>
        <div class="big_petal petal3 f6p"></div>
        <div class="big_petal petal4 f6p"></div>
        <div class="big_petal petal5 f6p"></div>
     </div>
  </div>
        {% if products %}
            {% for product in products %}
            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                <div class="card">
                    <a href="{% url 'view_product' product.id %}">
                        <img class="card-img-top" src="{{ MEDIA_URL }}{{product.image}}" alt="Card image cap"
                             onerror="this.src='{% static 'images/placeholder.jpg'%}'">
                        <div class="card-body text-dark">
                            <h5 class="card-title">{{product.name}}</h5>
                            <p class="card-text">{{product.category.friendly_name}}</p>
                            <p>€{{product.price}}</p>
                        </div>
                    </a>
                </div>
            </div>


            {% if forloop.counter|divisibleby:1 %}
            <div class="col-12 d-sm-none mb-5">
                <hr>
            </div>
            {% endif %}
            {% if forloop.counter|divisibleby:2 %}
            <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-5">
                <hr>
            </div>
            {% endif %}
            {% if forloop.counter|divisibleby:3 %}
            <div class="col-12 d-none d-lg-block d-xl-none mb-5">
                <hr>
            </div>
            {% endif %}
            {% if forloop.counter|divisibleby:4 %}
            <div class="col-12 d-none d-xl-block mb-5">
                <hr>
            </div>
            {% endif %}
            {% endfor%}

        {% else %}
        <!-- If no product then displays this message -->
            <h1>There are no products currently</h1>
        {% endif %}
    </div>
</div>

{% endblock %}