{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'products/css/products.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <h2 id="product_title" class="text-center">{{product.name}}</h2>
        <hr>
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
            {% if product.image|slice:":7" == "images/" %}
            <img class="rounded shadow-lg products_page_image" src="{% static product.image %}" alt="{{ product.name }}"
                 onerror="this.src='{% static 'images/placeholder.jpg'%}'">
            {% else %}
            <img class="rounded shadow-lg products_page_image" src="{{ MEDIA_URL }}{{product.image}}" alt="{{ product.name }}"
                 onerror="this.src='{% static 'images/placeholder.jpg'%}'">
            {% endif %}
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <div class="products_details mt-2">
                <p><strong>Price:</strong> €{{product.price}}</p>
                {% if product.category %}
                <p><strong>Category:</strong> {{product.category.friendly_name}}</p>
                {% endif %}
                <p class="roboto">{{product.description}}</p>
                
                <!-- Back to shop button -->
                <a href="{% url 'products' %}" class="rounded shadow btn btn-outline-black button_colors mt-5">
                    <span class="icon">
                        <i class="fas fa-chevron-left"></i>
                    </span>
                    <span class="text-uppercase">Back to Shop</span>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
